@charset "utf-8";
/* CSS Document */

#body{
	
	background-image: url(https://ghlibrary.000webhostapp.com/libertea_background.png);
	height: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 425px){
	#body{
		
		background-image: url(https://ghlibrary.000webhostapp.com/libertea_mobilebg.png) no-repeat center;
		
		height: 100%;
		width: 100%;
	}
}


#thead {
	
	font-size: 20px;
	font-size-adjust: auto;
}

table tr td{
	
	background-color: rgba(0,0,0,0.00)!important;
}
	
